.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 30px;
}

.app-filtro {
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
  border: 1px solid black; 
  padding: 20px;
  padding-top: 0px;
  height: 450px;
  max-height: 450px;

}

.app-inputs {
  margin: 1px;
}

/* input {
  margin: 2px;
} */

.app-produtos{
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  /* flex-grow: 5; */
  border: 1px solid #dddddd; 
  padding: 20px;
  padding-top: 0px;


}
.app-produtos > h4 {
  align-self: flex-start;
  /* justify-self: flex-start; */
  margin-left: 27px;
}

.app-cards {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  flex-wrap: wrap;

}



.app-carrinho {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-content: left;
  /* flex-grow: 2; */
  border: 1px solid black; 
  padding: 20px;
  padding-top: 0px;

  min-width: 250px;
  height: 450px;
  max-height: 450px;
}


app-carrinhos-produtos {
  width: 500px;
  min-width: 400px;
}