

.produto-container {
    border: 1px solid black; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
    margin: 10px ;
    flex-wrap: wrap;
    max-width: 200px;
}

.produto-foto {
    /* margin-top: 20px; */
    /* width: 100%; */
    min-width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.produto-texto {
    padding: 20px;

}